[flake8]
ignore = PT001, W503
max-line-length = 91
paths = 
    ./client
    ./server
    ./shared
max-complexity = 32
exclude = 
   tests
   venv
   env
   __pycache__
   .git
   .ruff_cache
   .mypy_cache
   .pytest_cache
   .tox
   build
   dist
   alembic/versions/*.py
   .venv

inline-quotes = '
multiline-quotes = """
docstring-quotes = """
