[flake8]
ignore = PT001
max-line-length = 128
paths = 
    ./app
max-complexity = 32
exclude = 
   tests
   venv
   env
   alembic/versions/*.py
   build.py
   sign_exe_manual.py
   encrypted_env.py

inline-quotes = '
multiline-quotes = """
docstring-quotes = """